<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Dashboard</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Transactions</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Country</th>
            <th>Total</th>
            <th>Min Rate</th>
            <th>Max Rate</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stat of coutnrywiseStats | keyvalue">
            <td>{{stat.value.country}}</td>
            <td>{{stat.value.total}}</td>
            <td>{{stat.value.minRate}}</td>
            <td>{{stat.value.maxRate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Live Map</h2>
      <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false">

        <agm-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">

          <agm-info-window [disableAutoPan]="true" [isOpen]="true">
            <strong>{{m.info}}</strong>
          </agm-info-window>

        </agm-marker>

        <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
                    [radius]="5000"
                    [fillColor]="'red'"
                    [circleDraggable]="true"
                    [editable]="true">
        </agm-circle>

      </agm-map>
    </main>
  </div>
</div>
<router-outlet></router-outlet>
